<h2>{{mainTitle}}</h2>
{{#each products}}
  <h3>{{this.tittle}}</h3>
  <p>{{this.description}}</p>
  <p>{{this.price}}</p>
  <p>{{this.thumbnail}}</p>
  <p>{{this.code}}</p>
  <p>{{this.stock}}</p>
{{/each}}